// @import url("~/font-awesome/scss/font-awesome.scss");

.SentencesContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.options button {
  width: auto;
  padding: .2vh .3vw;
  font-size: 1.5vmax;
}

.top {
  justify-content: center;
}

.top button {
  border: none;
}

.topic {
  font-size: 4vmin;
}

.back {
  margin-right: auto;
}

.empty {
  color: #FFF;
  margin-left: auto;
}
