.TopicList {
  margin-top: 25%;
  width: 100%; }

.TopicList input {
  width: 99%; }

input::placeholder {
  font-style: italic; }

.TopicList ul {
  background-color: #FFF;
  width: 99%;
  font-size: 4vmin;
  max-height: 200px;
  text-indent: 1%;
  border: 1px solid black;
  border-top: none;
  overflow: hidden;
  overflow-y: scroll; }

.TopicList li:hover {
  background-color: lightgray; }

.TopicList ul .selected {
  background-color: gray; }

/* Testing */
/*.TopicList { border: 1px solid black; }*/
/*.TopicList input { border: 1px solid black; }*/
