.TopicList {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  margin-top: 25%;
  width: 100%;
}

.TopicList input {
  border-bottom: 1px solid gray;
  width: 99%;
  min-height: 30px;
  height: 8vh;
  font-size: 6.5vmin;
  text-indent: 1%;
}

//save for later
// input, .autocomplete {
//   // display: inline-block;
//   // width: auto;
//
// }
//
// .autocomplete {
//   display: inline-block;
// }
//
// .input-wrapper {
//   border-bottom: 1px solid gray;
//   width: 99%;
// }

input::placeholder {
  font-style: italic;
}

.TopicList ul {
  background-color: #FFF;
  width: 99%;
  font-size: 4vmin;
  max-height: 200px;
  text-indent: 1%;
  border: 1px solid black;
  border-top: none;
  overflow: hidden;
  overflow-y: scroll;
}

.TopicList li:hover {
  background-color: lightgray;
}

.TopicList ul .selected {
  background-color: gray;
}

/* Testing */
/*.TopicList { border: 1px solid black; }*/
/*.TopicList input { border: 1px solid black; }*/
