.TopicList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 99%;
}

.TopicList input {
  border-bottom: 1px solid gray;
}

input::placeholder {
  font-style: italic;
}

.TopicList ul {
  width: 99%;
  font-size: 4vmin;
  text-indent: 1%;
  border: 1px solid black;
  border-top: none;
}

/* Testing */
/*.TopicList { border: 1px solid black; }*/
/*.TopicList input { border: 1px solid black; }*/
