$shadow: rgba(0,0,0,0.1);

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  height: 100vh;
  width: 100vw;
  @include flex-center;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 99%;
  margin: .5vh 0 0 0;
}

header h1 {
  font-size: 5vmax;
}

.instructions {
  align-self: flex-end;
  height: 50%;
}

main {
  flex: 1;
  min-width: 99%;
  @include flex-center;
}

.container {
  position: relative;
  width: 65%;
  padding-top: (3 / 5) * 65%;
}

.flashcard {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #FFF;
  border: 1px solid $shadow;
box-shadow:  -1px 1px $shadow,
 -1px 1px $shadow,
 -2px 2px $shadow,
 -2px 2px $shadow,
 -2px 2px $shadow;
}

footer {
  padding: 1%;
  font-size: 2.5vh;
}

@media screen {
  .App {
    position:relative;
    overflow: hidden;
  }
}

@media (max-width: 800px) {
  header {
    height: 25vh;
  }
  header h1 {
    font-size: 8vmax;
  }

  .container {
    width: 80%;
    padding-top: (3 / 5) * 80%;
  }

}
