/* Site wide CSS rules */
@import url("https://fonts.googleapis.com/css?family=Raleway");
html, header, footer, main, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img,
ul, li, form, label, input, button {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none; }

body {
  background-color: #67AB9F;
  line-height: 1.2; }

ul {
  list-style: none; }

input {
  display: inline-block;
  border-bottom: 1px solid gray;
  min-height: 30px;
  height: 8vh;
  font-size: 6.5vmin;
  text-indent: 1%; }

p {
  min-height: 30px;
  height: 8vh;
  font-size: 6.5vmin; }

input::placeholder {
  color: gray; }

button {
  background-color: white;
  border: 1px solid black;
  width: 12%;
  font-size: 70%; }

button:hover {
  background-color: gray; }
